.footer-content-wrapper {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;

    max-width: 1440px;
    height: 72px;

    justify-content: space-between;
    align-items: center;
}

.footer-items-wrapper {
    display: flex;

    width: 100%;

    justify-content: space-between;
}

.footer-item-wrapper p{
    margin-bottom: 16px;
}

.footer-item-wrapper h4{
    margin-bottom: 8px;
}

.below-footer-wrapper {
    display: flex;

    margin-top: 120px;
    padding-bottom: 40px;

    width: 100%;

    justify-content: space-between;
}

.below-footer-wrapper a {
    color: var(--white);
}

.footer-link a {
    color: var(--white);
}

.footer-link:hover {
    text-decoration: underline;

    cursor: pointer;

    color: var(--white);
}

.footer-link {
    color: var(--white);
}

/* Responsiveness */

@media only screen and (max-width: 1520px) {
    .footer-content-wrapper {
        padding-left: 40px;
        padding-right: 40px;
    }
}

@media only screen and (max-width: 1280px) {
    .footer-content-wrapper {
        padding-left: 40px;
        padding-right: 40px;
    }
}

@media only screen and (max-width: 800px) {
    .footer-content-wrapper {
        padding-left: 24px;
        padding-right: 24px;
    }

    .footer-items-wrapper {
        flex-direction: column;
        
        row-gap: 32px;
    }

    .below-footer-wrapper {
        flex-direction: column-reverse;

        row-gap: 32px;
    
        margin-top: 80px;
    }
}