.nav-wrapper {
    position: -webkit-sticky; /* Safari */
    position: sticky;

    width: 100%;

    top: 0;

    background-color: var(--black);

    z-index: 99;
}

.nav-content-wrapper {
    position: relative;
    display: flex;

    margin-left: auto;
    margin-right: auto;
    
    max-width: 1200px;
    height: 72px;

    justify-content: space-between;
    align-items: center;
}

.nav-right-wrapper {
    display: flex;
}

.nav-links-wrapper {
    display: flex;
    align-items: center;
}

.nav-link {
    font-family: EuclidSquare Regular;
    font-size: 1em;

    color: var(--white);

    margin-left: 48px;
}

.nav-link:hover {
    text-decoration: underline;
}

.logo-link {
    font-family: EuclidSquare Regular;
    font-size: 1.25em;

    color: var(--white);
}

/* Menu Dropdown 
.menu-dropdown {
    position: relative;
    display: block;

    padding: 80px;

    background-color: #121212;

    border-radius: 16px;

    z-index: 99;

    max-width: 1200px;
}

.menu-content {
    display: flex;
    position: relative;

    justify-content: space-between;
}

.menu-column {
    display: flex;

    flex-direction: column;

    row-gap: 24px;
}

.menu-column img {
    width: 56px;
    height: 56px;
}

.menu-column p {
    opacity: 0.5;
}

#menu-dropdown-link:hover .menu-dropdown {
    display: block;
} */

@media only screen and (max-width: 1280px) {
    .nav-content-wrapper {
        padding-left: 40px;
        padding-right: 40px;
    }

    #mobile-nav-wrapper {
        display: none;
    }
}

@media only screen and (max-width: 800px) {
    .nav-content-wrapper {
        padding-left: 24px;
        padding-right: 24px;
    }

    .nav-links-wrapper {
        display: none;
    }

    .nav-right-wrapper > .contact-button {
        display: none;
    }

    .mobile-menu-button {
        display: block;
    }

    #mobile-nav-wrapper {
        display: none;
    }
}