.nav-wrapper {
    position: -webkit-sticky; /* Safari */
    position: sticky;

    width: 100%;

    top: 0;

    background-color: transparent;

    z-index: 99;
}

.nav-content-wrapper {
    position: relative;
    display: flex;

    margin-left: auto;
    margin-right: auto;
    
    max-width: 1440px;
    height: 72px;

    justify-content: space-between;
    align-items: center;
}

.nav-right-wrapper {
    display: flex;
}

.nav-links-wrapper {
    display: flex;
    align-items: center;
}

.nav-link {
    font-family: EuclidSquare Regular;
    font-size: 1em;

    color: var(--black);

    margin-left: 48px;
}

.nav-link:hover {
    opacity: 0.8;
}

.logo-link {
    font-family: EuclidSquare Regular;
    font-size: 1.25em;

    color: var(--black);
}

.mobile-nav-button {
    display: none;

    align-items: center;

    width: 32px;
    height: 32px;
}

.menu-icon-stroke {
    margin-left: auto;
    margin-right: auto;

    width: 24px;
    height: 2px;

    background-color: var(--black);

    border-radius: 2px;
}

.top-stroke {
    margin-top: 10px;
    margin-bottom: 8px;
}

/* Mobile Menu */

.mobile-nav-wrapper {
    position: absolute;
    display: none;

    top: 0;
    left: 0;

    padding-top: 48px;

    height: 100%;
    width: 100vw;

    background-color: var(--black);
}

.mobile-nav-links-wrapper {
    display: flex;

    flex-direction: column;

    row-gap: 32px;

    margin-top: 48px;
    margin-left: 64px;
    margin-right: 64px;
}

.mobile-space-link {
    margin-bottom: 40px !important;
}

.mobile-nav-link {
    color: var(--white);

    font-size: 1.2em;

    margin-left: 0px;
}

/* Default Header Styling */

.default-header-color > .nav-wrapper {
    background-color: var(--black);
}

.default-header-color > .nav-wrapper > .nav-content-wrapper > .nav-left-wrapper > .logo-link {
    color: var(--white);
}

.default-header-color > .nav-wrapper > .nav-content-wrapper > .nav-right-wrapper > .nav-links-wrapper > .nav-link {
    color: var(--white);
}

.default-header-color > .nav-wrapper > .nav-content-wrapper > .nav-right-wrapper > .nav-links-wrapper > .vertical-header-divider {
    background-color: var(--white);
}

.default-header-color > .nav-wrapper > .nav-content-wrapper > .nav-right-wrapper > .contact-button {
    color: var(--white);
    border-color: var(--white);
}

.default-header-color > .nav-wrapper > .nav-content-wrapper > .nav-right-wrapper > .contact-button:hover {
    color: var(--black);

    background-color: var(--white);

    border-color: var(--black);
}

.default-header-color > .nav-wrapper > .nav-content-wrapper > .nav-right-wrapper > .mobile-nav-button > .menu-icon-stroke {
    background-color: var(--white);
}


/* Scroll Trigger Styling */

.BgColor {
    transition: all 0.5s;
    background-color: var(--black);
}

.BgColor > .nav-content-wrapper > .nav-left-wrapper > .logo-link {
    color: var(--white);
}

.BgColor > .nav-content-wrapper > .nav-right-wrapper > .nav-links-wrapper > .nav-link {
    color: var(--white);
}

.BgColor > .nav-content-wrapper > .nav-right-wrapper > .nav-links-wrapper > .vertical-header-divider {
    background-color: var(--white);
}

.BgColor > .nav-content-wrapper > .nav-right-wrapper > .contact-button {
    color: var(--white);
    border-color: var(--white);
}

.BgColor > .nav-content-wrapper > .nav-right-wrapper > .contact-button:hover {
    color: var(--black);

    background-color: var(--white);

    border-color: var(--black);
}

.BgColor > .nav-content-wrapper > .nav-right-wrapper > .mobile-nav-button > .menu-icon-stroke {
    background-color: var(--white);
}


/* Responsivenss */

@media only screen and (max-width: 1520px) {
    .nav-content-wrapper {
        padding-left: 40px;
        padding-right: 40px;
    }
}

@media only screen and (max-width: 1280px) {
    .nav-content-wrapper {
        padding-left: 40px;
        padding-right: 40px;
    }

    .nav-links-wrapper {
        display: none;
    }

    .nav-right-wrapper > .contact-button {
        display: none;
    }

    .mobile-nav-button {
        display: block;
    }

    .mobile-nav-wrapper {
        display: block;
    }
}

@media only screen and (max-width: 800px) {
    .nav-content-wrapper {
        padding-left: 24px;
        padding-right: 24px;
    }

    .nav-links-wrapper {
        display: none;
    }

    .nav-right-wrapper > .contact-button {
        display: none;
    }

    .mobile-nav-button {
        display: block;
    }

    .mobile-nav-wrapper {
        display: block;
    }
}