@import "fonts.css";
@import "colors.css";
@import "header.css";
@import "footer.css";
@import "index.css";
@import "subpage.css";


/* General */
a {
    text-decoration: none;

    cursor: pointer;
}

main {
    max-width: 1440px;

    margin-left: auto;
    margin-right: auto;
}

body {
    margin: 0;

    background-color: var(--black);
}

/* Icon */
.icon-16 {
    width: 16px;
    height: 16px;
}

.icon-24 {
    width: 24px;
    height: 24px;
}

/* Buttons */
.contact-button {
    margin-left: 96px;

    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;

    background-color: var(--white);
    color: var(--black);

    border: solid;
    border-color: var(--white);
    border-width: 1px;
    border-radius: 19.25px;

    font-family: EuclidSquare Regular;
    font-weight: 400;
}

.contact-button:hover {
    background-color: var(--black);
    color: var(--white);

    transition: 0.2s;
}

.cta-button {
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 24px;
    padding-right: 24px;

    background-color: var(--black);
    color: var(--white);

    width: max-content;
    height: max-content;

    border: solid;
    border-color: var(--white);
    border-width: 1px;
    border-radius: 27.25px;

    font-family: EuclidSquare Regular;
    font-weight: 400;
}

.cta-button:hover {
    background-color: var(--white);
    color: var(--black);

    transition: 0.2s;
}

.download-button {
    position: relative;

    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;

    width: fit-content;

    background-color: var(--white);
    color: var(--black);

    border: solid;
    border-color: var(--black);
    border-width: 1px;
    border-radius: 18px;

    font-family: EuclidSquare Regular;
    font-weight: 400;
}

.download-button:hover {
    background-color: var(--black);
    color: var(--white);

    transition: 0.2s;
}

/* Dividers */
.primary-divider {
    height: 1px;

    background-color: var(--white);
}

.secondary-divider {
    height: 1px;

    background-color: var(--white300);
}

@media only screen and (max-width: 1280px) {
    main {
        margin-left: 40px;
        margin-right: 40px;
    }
}

@media only screen and (max-width: 800px) {
    main {
        margin-left: 24px;
        margin-right: 24px;
    }
}