/* Hero Section */
.hero-section-subpage {
    position: relative;
    display: grid;

    padding-top: 20vh;
    padding-bottom: 20vh;

    column-gap: 40px;
    grid-template-columns: 1fr 1fr;
}

.right-side-hero-section-subpage {
    display: flex;

    flex-direction: column;

    row-gap: 40px;

    padding-top: 56px;
}

.left-side-hero-section-subpage p {
    margin-bottom: 24px;
}

.hero-section-subpage img {
    margin-top: 20vh;
    
    width: 100%;
    max-width: 1440px;

    grid-column-start: 1;
    grid-column-end: 3;

    grid-row-start: 2;
    grid-row-end: 2;
}

.hero-section-subpage video {
    margin-top: 20vh;
    
    width: 100%;
    max-width: 1440px;

    grid-column-start: 1;
    grid-column-end: 3;

    grid-row-start: 2;
    grid-row-end: 2;
}

/* Responsiveness */

@media only screen and (max-width: 1520px) {

}

@media only screen and (max-width: 1280px) {

}

@media only screen and (max-width: 800px) {
    .hero-section-subpage {
        display: flex;

        flex-direction: column;

        padding-top: 10vh;
        padding-bottom: 15vh;
    
        row-gap: 40px;
        column-gap: 0px;

        grid-template-columns: 1fr;
    }

    .hero-section-subpage img {
        margin-top: 56px;
    }

    .hero-section-subpage video {
        margin-top: 40px;
    }

    .right-side-hero-section-subpage {
        padding-top: 0px;
    }

    .right-side-section img {
        margin-bottom: 0px !important;
    }
}