.team-section {
    display: flex !important;
}

.team-text-wrapper {
    display: flex;

    flex-direction: column;

    width: 40vw;
}

.team-text-wrapper h2 {
    margin-bottom: 24px;
}

.team-text-wrapper p {
    margin-bottom: 48px;
}

.member-button-wrapper {
    display: flex;

    column-gap: 8px;
}

.team-img-wrapper {
    width: 400px;
}

.friends-img-wrapper {
    display: grid;

    grid-template-columns: 1fr 1fr 1fr 1fr;

    column-gap: 40px;
    row-gap: 40px;
}

/* Responsiveness */

@media only screen and (max-width: 1480px) {
    
}

@media only screen and (max-width: 1280px) {
    .team-section {
        display: flex !important;

        flex-direction: column;
    }

    .team-img-wrapper {
        display: flex !important;
    }

    .member-button-wrapper {
        display: flex;
    
        flex-direction: column;

        row-gap: 16px;
    }

    .team-text-wrapper h2 {
        margin-top: 48px;
    }

    .team-text-wrapper {
        width: 60%;
    }
    
    .team-img-wrapper {
        width: 60%;
    }
}

@media only screen and (max-width: 800px) {
    .team-section {
        display: flex !important;

        flex-direction: column;
    }

    .team-img-wrapper {
        display: flex !important;
    }

    .member-button-wrapper {
        display: flex;
    
        flex-direction: column;

        row-gap: 16px;
    }

    .team-text-wrapper h2 {
        margin-top: 0px;
    }

    .team-text-wrapper {
        width: 100%;
    }

    .team-img-wrapper {
        width: 100%;
    }
}