.team-text-wrapper {
    display: flex;

    flex-direction: column;
}

.team-text-wrapper h2 {
    margin-bottom: 24px;
}

.team-text-wrapper p {
    margin-bottom: 48px;
}

.member-button-wrapper {
    display: flex;

    column-gap: 8px;
}

/* Responsiveness */

@media only screen and (max-width: 1480px) {
    
}

@media only screen and (max-width: 1280px) {
    
}

@media only screen and (max-width: 800px) {
    .team-section {
        display: flex !important;

        flex-direction: column;
    }

    .team-img-wrapper {
        display: flex !important;
    }

    .member-button-wrapper {
        display: flex;
    
        flex-direction: column;

        row-gap: 16px;
    }

    .team-text-wrapper h2 {
        margin-top: 48px;
    }
}