.testimonial-wrapper {
    display: flex !important;

    flex-direction: column !important;

    row-gap: 80px;
}

.testimonial-quote {
    display: none;
}

.testimonial-quote.active {
    display: block;
}

.testimonial-tabs-wrapper {
    display: flex;

    column-gap: 120px;
}

.tablink {
    display: flex;

    column-gap: 24px;

    align-items: center;

    opacity: 0.3;
}

.tablink:hover {
    opacity: 0.6;

    transition: 0.5s ease-in-out;
}

.tablink.active {
    opacity: 1 !important;
}

.pb-picture-testimonial {
    height: 80px;
    width: 80px;

    border-radius: 40px;

    object-fit: fill;

    background-color: aliceblue;

    overflow: hidden;
}

.pb-picture-testimonial img {
    width: 100%;
}

.testimonial-name-wrapper {
    display: flex;

    flex-direction: column;

    row-gap: 4px;
}

@media only screen and (max-width: 1440px) {
    
}

@media only screen and (max-width: 1280px) {
    .testimonial-tabs-wrapper {
        display: flex;

        flex-direction: column;
    
        row-gap: 40px;
    }
}

@media only screen and (max-width: 800px) {
    
}