RewriteEngine On
RewriteBase /

# Redirect www to non-www
RewriteCond %{HTTP_HOST} ^www\.demo\.gramgram\.ch [NC]
RewriteRule ^(.*)$ https://demo.gramgram.ch/$1 [L,R=301]

# Rewrite new URL to target a specific file or script
RewriteRule ^home$ index.html [L]
RewriteRule ^product-design$ product-design.html [L]
RewriteRule ^consulting$ consulting.html [L]